@model IEnumerable<MyBootstrap.Database.Talo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NykyLampo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TavoiteLampo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NykyLampo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TavoiteLampo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TaloId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaloId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaloId })
        </td>
    </tr>
}

</table>*@
